{
    "CallerReference": "{{ caller_reference }}",
    "Aliases": {
        "Items": [
            "{{ domain_name }}"
        ],
        "Quantity": 1
    },
    "CacheBehaviors": {"Quantity": 0},
    "Comment" "{{ comment }}",
    "CustomErrorResponses": {"Quantity": 0},
    "DefaultCacheBehavior": {
        "AllowedMethods": {
            "Quantity": 7,
            "Items": ["GET", "HEAD", "OPTIONS", "PUT", "POST", "PATCH", "DELETE"],
            "CachedMethods": {
                "Quantity": 3,
                "Items": ["GET", "HEAD", "OPTIONS"],
            },
        },
    }
    "Compress": False,
    "DefaultTTL": 60,
    "LambdaFunctionAssociations": {
        "Quantity": 0
    },
    "ForwardedValues": {
        "QueryString": False,
        "Cookies": {
            "Forward": "none"
        },
        "Headers": {
            "Items": [
                "Origin",
                "Referer",
                "Host"
            ],
            "Quantity": 3
        },
        "QueryStringCacheKeys": {
            "Quantity": 0,
        }
    },
    "MaxTTL": 3600,
    "MinTTL": 0,
    "SmoothStreaming": False,
    "ViewerProtocolPolicy": "redirect-to-https",
    "TargetOriginId": "{{ domain_name }}"
    "TrustedSigners": {
        "Enabled": False,
        "Quantity": 0
    },
    "DefaultRootObject": "",
    "Enabled": True,
    "HttpVersion": "http2",
    "IsIPV6Enabled": True,
    "Logging": {
        "Enabled": False
    },
    "Origins": {
        "Items": [
            {
                "ConnectionAttempts": 3,
                "ConnectionTimeout": 10,
                "CustomHeaders": {
                    "Quantity": 0
                },
                "CustomOriginConfig": {
                    "HTTPPort": 80,
                    "HTTPSPort": 443,
                    "OriginKeepaliveTimeout": 5,
                    "OriginProtocolPolicy": "https-only",
                    "OriginReadTimeout": 60,
                    "OriginSslProtocols": {
                        "Items": [
                            "TLSv1.2"
                        ],
                        "Quantity": 1
                    }
                },
                "DomainName": "{{ endpoint }}",
                "Id": "{{ domain_name }}",
                "OriginPath": ""
            }
        ],
        "Quantity": 1
    },
    "PriceClass": "PriceClass_All",
    "Restrictions": {
        "GeoRestriction": {
            "RestrictionType": "none",
            "Quantity": 0
        }
    },
    "ViewerCertificate": {
        "ACMCertificateArn": "{{ certificate }}",
        "Certificate": "{{ certificate }}",
        "CertificateSource": "acm",
        "MinimumProtocolVersion": "TLSv1.2_2019",
        "SSLSupportMethod": "sni-only"
    },
    "WebACLId": "",
}