{
    "Comment": "{{ comment }}",
    "Changes":[
        {
            "Action": "{{ action }}",
            "ResourceRecordSet": {
                "Name": "{{ name }}",
                "Type": "{{ type }}",
                "TTL": "{{ ttl }}",
                "ResourceRecords": [{"Value": "{{ target }}"}]
            }
        }
    ] 
}